/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.p-card {
  background-image: url("./assets/images/deck.png");
  background-repeat: no-repeat;

  height: 123px;
  width: 79px;

}

.clubs-ca {
  background-position: 0px 0px;
}
.clubs-c2 {
  background-position: -79px 0px;
}